var Day = new Skin({
  starsImage: [
    "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A /wD/oL2nkwAAAAlwSFlzAACNZgAAjWYBB0M1IwAAAAd0SU1FB9oIBAoMHHVA3+oAAAExSURBVBjT hY27SgNRAETP3YdZ8rBRi6CkkpBgrSIYIVgICn6GIFYBC7cUi6AWNuI32Is/YGFjQFQ0hQbEREEk MY/dzSabu9cionYODMMMBwb+yN0Bp0DO3TPP+E/ecfyid51RzVX0v7vm2r/F2WRSX5zKicwYZobz nycbDDVgxSmQ1lLRLJaxrqXHwVdKX5te9lLvp+rTKytXPgnv0Lo0t+cXAPBDlDNAuCF0JXQBP1SD m2og6oC1H3kY2ZrLKicYQp4ELwQ3ZHBXRb42ZjXLht5ubyY4KdVoSehIaA8dvjSRtUY+fkDJiBUB UG7L14UbgiOhO0wRAJKyY4MG0NnAFBOJJG2p1FsHeV9DBCgRi4LBaLz4DYo4CWGYBFeV236pkg+e G8l++fFIftQREX0J4Av08Y4EOdL+NQAAAABJRU5ErkJggg==",
    "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQ0KPCEtLSBDcmVhdGVkIHdpdGggSW5rc2NhcGUgKGh0dHA6Ly93d3cuaW5rc2NhcGUub3JnLykgLS0+ DQ0KPHN2ZyBpZD0ic3ZnMjgzNiIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhl aWdodD0iNjRweCIgd2lkdGg9IjY0cHgiIHZlcnNpb249IjEuMSIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyI+DQ0K IDxkZWZzIGlkPSJkZWZzMjgzOCI+DQ0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhckdyYWRpZW50MzgwMiIgeTI9IjU1LjUyNSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgyPSIz NC45MTEiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMS4xMyAwIDAgMS4xMjUzIC0zLjQ3NDMgLTMuOTA4OSkiIHkxPSIzMi4wNyIgeDE9IjUuNDY0OSI+DQ0KICAgPHN0b3AgaWQ9InN0b3AyODgy IiBzdG9wLWNvbG9yPSIjZmNmZjAwIiBvZmZzZXQ9IjAiLz4NDQogICA8c3RvcCBpZD0ic3RvcDI4ODQiIHN0b3AtY29sb3I9IiNmZmE0MDAiIG9mZnNldD0iMSIvPg0NCiAgPC9saW5lYXJHcmFkaWVu dD4NDQogIDxyYWRpYWxHcmFkaWVudCBpZD0icmFkaWFsR3JhZGllbnQzODI4IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3k9IjMxLjg0NCIgY3g9IjI3LjY2NyIgZ3JhZGllbnRUcmFuc2Zvcm09Im1hdHJpeCguMDQ5NzExIC43OTQ5MSAtMS4wNzgxIC4wNjY4NjIgNjcuNTk4IDEzLjE3 MykiIHI9IjI2Ljc2OSI+DQ0KICAgPHN0b3AgaWQ9InN0b3AzODIyIiBzdG9wLWNvbG9yPSIjMDAwIiBvZmZzZXQ9IjAiLz4NDQogICA8c3RvcCBpZD0ic3RvcDM4MjQiIHN0b3AtY29sb3I9IiMwMDAi IHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+DQ0KICA8L3JhZGlhbEdyYWRpZW50Pg0NCiA8L2RlZnM+DQ0KIDxtZXRhZGF0YSBpZD0ibWV0YWRhdGEyODQxIj4NDQogIDxyZGY6UkRGPg0NCiAg IDxjYzpXb3JrIHJkZjphYm91dD0iIj4NDQogICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+DQ0KICAgIDxkYzp0eXBlIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1cmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiLz4NDQogICA8L2NjOldvcms+DQ0KICA8L3JkZjpSREY+DQ0K IDwvbWV0YWRhdGE+DQ0KIDxnIGlkPSJsYXllcjEiPg0NCiAgPHBhdGggaWQ9InBhdGgyODQ4IiBmaWxsPSIjZTM2YzAwIiB0cmFuc2Zvcm09Im1hdHJpeCgyLjQ0NjcgMCAwIDIuNDUzMiAtNDYuMTEg LTQ2LjE1MSkiIHN0cm9rZS1kYXNoYXJyYXk9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSI0IiBzdHJva2Utd2lkdGg9Ii4wNDI5NDIiIGQ9Im0xOS4yNzMgMjguNzI3IDguODYxNC0xLjE0MTkgNC4w ODMtNy45NDcyIDMuODI0NCA4LjA3NDggOC44MiAxLjQyNzMtNi40OTc4IDYuMTMyNSAxLjM2ODEgOC44MjkzLTcuODQwMy00LjI4NDgtNy45NzQ0IDQuMDI5NSAxLjY1MjMtOC43ODA2eiIvPg0NCiAg PHBhdGggaWQ9InBhdGgyODUwIiBkPSJtNDEuMDI2IDU1LjU2OWMtNC44ODQ3LTIuNjYwNi04Ljk2NDUtNC44Mzc1LTkuMDY2My00LjgzNzUtLjEwMTczIDAtNC4yNjY4IDIuMDYyNi05LjI1NTcgNC41ODM2cy05LjExODEgNC41MzY1LTkuMTc1OSA0LjQ3OWMtLjA1NzgxLS4wNTc1OC43NDgzOS00LjYz NCAxLjc5MTYtMTAuMTdsMS44OTYtMTAuMDY1LTcuNDE3OC03LjM4OWMtNC41MzE3LTQuNTE0LTcuMjg5Mi03LjM4OS03LjA4NjktNy4zODkuNzY1MDcgMCAyMC40MTQtMi41OTE5IDIwLjUyLTIuNzA2 OC4wNjM5MS0uMDY5MjEgMi4yMDI5LTQuMTc2IDQuNzUzMy05LjEyNjJzNC42OTIyLTkuMDAwNCA0Ljc1OTUtOS4wMDA0IDIuMTAzNCA0LjE3MiA0LjUyNDcgOS4yNzExbDQuNDAyMyA5LjI3MTEgMTAu MjIyIDEuNjQxNGM1LjYyMjEuOTAyNzYgMTAuMiAxLjcwNDQgMTAuMTc0IDEuNzgxNC0uMDI2NDcuMDc3MDMtMy4zOTI2IDMuMjgzMi03LjQ4MDIgNy4xMjQ5LTYuOTQ0NSA2LjUyNjYtNy40MjgxIDcu MDIxNC03LjM3MTYgNy41NDIxLjAxNjA4LjE0ODIzLjE4MzcyIDEuMjY3Mi40NDI5OCAyLjk2NDcuMjc2ODQgMS44MTI2LjY1ODE1IDQuMjg0OSAxLjA3MSA2LjkzOTYgMS41MTM2IDkuNzMzNCAxLjU0MDUgOS45MzY0IDEuMzE1OSA5LjkyNzYtLjA3NTctLjAwMjktNC4xMzQyLTIuMTgyMi05LjAxODkt NC44NDI4eiIgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9InVybCgjcmFkaWFsR3JhZGllbnQzODI4KSIgc3Ryb2tlLXdpZHRoPSIxLjEyNzYiIGZpbGw9InVybCgjbGluZWFyR3JhZGllbnQzODAy KSIvPg0NCiA8L2c+DQ0KPC9zdmc+DQ0K"
  ],
  veilColor: "#FFFFFF",
  originalGridColor: "#EAEAEA",
  originalBackgroundColor: "#FFFFFF",
  originalHeadColor: "#000000",
  originalBodyColor: "#666666",
  originalCellColor: "#FFFFFF",
  gridColors: [     // Sorted by importance
    ["#D0D0D0", "#F8F8F8"], // Grey
    ["#60A800", "#C8FF95"], // Green
    ["#B7BC23", "#FFFFB9"], // Gold
    ["#DF3500", "#FFAEAE"], // Red
    ["#0088FF", "#BCDFFF"], // Blue
    ["#A92FFF", "#D09DFF"], // Violet
    ["#FF9C2E", "#FFDEBD"], // Orange
    ["#FF512E", "#FFB693"]  // Achievements - Red-Orange
  ],
  textColors: [
    ["#0A3700","#7EDB4B","#FFFFFF","#000000"], // Green
    ["#414100","#E9DF3C","#FFFFFF","#000000"], // Gold
    ["#410000","#E7431E","#FFFFFF","#000000"], // Red
    ["#48003C","#C755FC","#FFFFFF","#000000"], // Violet
    ["#001D58","#AFD4F9","#FFFFFF","#000000"], // Blue
    ["#FF9606","#FFEDBF","#000000","#000000"], // Orange
    ["#AA0000","#FF9C2E","#FFFFFF","#000000"]  // Red-orange
  ],
  speedColors: [
    ["#276300","#E3FFD8"],  // Green
    ["#0057A4","#CEEDFF"],  // Blue
    ["#900000","#FFD5AE"]   // Red
  ],
  scoreColors: [
    ["#303030","#A0A0A0"],  // Grey
    ["#276300","#E3FFD8"],  // Green
    ["#E9DF3C","#414100"],  // Gold
    ["#900000","#FFD5AE"],  // Red
    ["#761DB8","#F0D4FE"],  // Violet
    ["#D56906","#FFEDBF"],  // Orange
    ["#900000","#FFDBB2"]   // Black&white
  ],
  sTextColors: [
    ["#000000","#FFFFFF"], // Black
    ["#3A7000","#FFFFFF"], // Green
    ["#9E1DB6","#FFFFFF"], // Violet
    ["#FF9606","#000000"], // Orange
    ["#326CBC","#FFFFFF"], // Blue
    ["#808080","#A0A0A0"]  // Twiddle - Dark grey
  ],
  foodColors: [
    "#FFA52E", // legendaryFood
    "#AF1BFF", // superFood
    "#60A800", // bonusFood
    "#BBBBBB"  // regularFood
  ]
}), Night = new Skin({
  starsImage: [
    "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A /wD/oL2nkwAAAAlwSFlzAACNZgAAjWYBB0M1IwAAAAd0SU1FB9sDBhEoCJiEjJ8AAAFISURBVBjT hY2xasJQGEa/mDRE2oYsCmLJWJCCW4eCFjoVl4JTfQQfIRkkk+hWcHF0cCt0Kn2BDk6ZOjSI1UAH h5DiYLz3v4mXdCmtW8/2HT44wAE7B+j3+83RaPSM/5hMJq++7+fdblc99IWd+zc8z6vW6/Wmbduw bfvlt+QCynA4vJVSnpfL5Zqu63etVquaZVk+n8/larV62m63ARF9aJZleZ1O5woA0jQF5xxCCKVU Kmmmad5nWZYvFotM+QLwOB6/t9vtGuccRAQhBIQQICIsl0tEUXSpGS4wnU4vFEX5bDQaZ2magohA RIjjGFEU3TiO4xeOB8BsNsuTJFGJCIwxcM7BGMN+v4eUMkhcoAAAvV7vyLKsCmMsj+MYYRhCSpkX i0WoqmqeDH6OhmGcapqGIAjegiC4Wa/XlTAMHzabDXRdvwaAbz0mpub3U0Q0AAAAAElFTkSuQmCC",
    "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQ0K PCEtLSBDcmVhdGVkIHdpdGggSW5rc2NhcGUgKGh0dHA6Ly93d3cuaW5rc2NhcGUub3JnLykgLS0+ DQ0KPHN2ZyBpZD0ic3ZnMjgzNiIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAy LzIyLXJkZi1zeW50YXgtbnMjIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhl aWdodD0iNjRweCIgd2lkdGg9IjY0cHgiIHZlcnNpb249IjEuMSIgeG1sbnM6Y2M9Imh0dHA6Ly9j cmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5 OTkveGxpbmsiIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyI+DQ0K IDxkZWZzIGlkPSJkZWZzMjgzOCI+DQ0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhckdyYWRp ZW50MzgwMi02NTgiIHkyPSI1NS41MjUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB5 MT0iMzIuMDciIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMS4xMyAwIDAgMS4xMjUzIC0zLjQ3 NDMgLTMuOTA4OSkiIHgyPSIzNC45MTEiIHgxPSI1LjQ2NDkiPg0NCiAgIDxzdG9wIGlkPSJzdG9w NDAyOSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgb2Zmc2V0PSIwIi8+DQ0KICAgPHN0b3AgaWQ9InN0 b3A0MDMxIiBzdG9wLWNvbG9yPSIjYWRhZGFkIiBvZmZzZXQ9IjEiLz4NDQogIDwvbGluZWFyR3Jh ZGllbnQ+DQ0KICA8cmFkaWFsR3JhZGllbnQgaWQ9InJhZGlhbEdyYWRpZW50MzgyOC02MjAiIGN4 PSIyNy42NjciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeT0iMzEuODQ0IiByPSIy Ni43NjkiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLjA0OTcxMSAuNzk0OTEgLTEuMDc4MSAu MDY2ODYyIDY3LjU5OCAxMy4xNzMpIj4NDQogICA8c3RvcCBpZD0ic3RvcDQwMzUiIHN0b3AtY29s b3I9IiMwMDAiIG9mZnNldD0iMCIvPg0NCiAgIDxzdG9wIGlkPSJzdG9wNDAzNyIgc3RvcC1jb2xv cj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjEiLz4NDQogIDwvcmFkaWFsR3JhZGll bnQ+DQ0KIDwvZGVmcz4NDQogPG1ldGFkYXRhIGlkPSJtZXRhZGF0YTI4NDEiPg0NCiAgPHJkZjpS REY+DQ0KICAgPGNjOldvcmsgcmRmOmFib3V0PSIiPg0NCiAgICA8ZGM6Zm9ybWF0PmltYWdlL3N2 Zyt4bWw8L2RjOmZvcm1hdD4NDQogICAgPGRjOnR5cGUgcmRmOnJlc291cmNlPSJodHRwOi8vcHVy bC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIvPg0NCiAgICA8ZGM6dGl0bGUvPg0NCiAgIDwv Y2M6V29yaz4NDQogIDwvcmRmOlJERj4NDQogPC9tZXRhZGF0YT4NDQogPGcgaWQ9ImxheWVyMSI+ DQ0KICA8cGF0aCBpZD0icGF0aDI4NDgiIGQ9Im0xOS4yNzMgMjguNzI3IDguODYxNC0xLjE0MTkg NC4wODMtNy45NDcyIDMuODI0NCA4LjA3NDggOC44MiAxLjQyNzMtNi40OTc4IDYuMTMyNSAxLjM2 ODEgOC44MjkzLTcuODQwMy00LjI4NDgtNy45NzQ0IDQuMDI5NSAxLjY1MjMtOC43ODA2eiIgdHJh bnNmb3JtPSJtYXRyaXgoMi40NDY3IDAgMCAyLjQ1MzIgLTQ2LjExIC00Ni4xNTEpIiBzdHJva2Ut ZGFzaGFycmF5PSJub25lIiBzdHJva2UtbWl0ZXJsaW1pdD0iNCIgc3Ryb2tlLXdpZHRoPSIuMDQy OTQyIiBmaWxsPSIjODM4MzgzIi8+DQ0KICA8cGF0aCBpZD0icGF0aDI4NTAiIGQ9Im00MS4wMjYg NTUuNTY5Yy00Ljg4NDctMi42NjA2LTguOTY0NS00LjgzNzUtOS4wNjYzLTQuODM3NS0uMTAxNzMg MC00LjI2NjggMi4wNjI2LTkuMjU1NyA0LjU4MzZzLTkuMTE4MSA0LjUzNjUtOS4xNzU5IDQuNDc5 Yy0uMDU3ODEtLjA1NzU4Ljc0ODM5LTQuNjM0IDEuNzkxNi0xMC4xN2wxLjg5Ni0xMC4wNjUtNy40 MTc4LTcuMzg5Yy00LjUzMTctNC41MTQtNy4yODkyLTcuMzg5LTcuMDg2OS03LjM4OS43NjUwNyAw IDIwLjQxNC0yLjU5MTkgMjAuNTItMi43MDY4LjA2MzkxLS4wNjkyMSAyLjIwMjktNC4xNzYgNC43 NTMzLTkuMTI2MnM0LjY5MjItOS4wMDA0IDQuNzU5NS05LjAwMDQgMi4xMDM0IDQuMTcyIDQuNTI0 NyA5LjI3MTFsNC40MDIzIDkuMjcxMSAxMC4yMjIgMS42NDE0YzUuNjIyMS45MDI3NiAxMC4yIDEu NzA0NCAxMC4xNzQgMS43ODE0LS4wMjY0Ny4wNzcwMy0zLjM5MjYgMy4yODMyLTcuNDgwMiA3LjEy NDktNi45NDQ1IDYuNTI2Ni03LjQyODEgNy4wMjE0LTcuMzcxNiA3LjU0MjEuMDE2MDguMTQ4MjMu MTgzNzIgMS4yNjcyLjQ0Mjk4IDIuOTY0Ny4yNzY4NCAxLjgxMjYuNjU4MTUgNC4yODQ5IDEuMDcx IDYuOTM5NiAxLjUxMzYgOS43MzM0IDEuNTQwNSA5LjkzNjQgMS4zMTU5IDkuOTI3Ni0uMDc1Ny0u MDAyOS00LjEzNDItMi4xODIyLTkuMDE4OS00Ljg0Mjh6IiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0 cm9rZT0idXJsKCNyYWRpYWxHcmFkaWVudDM4MjgtNjIwKSIgc3Ryb2tlLXdpZHRoPSIxLjEyNzYi IGZpbGw9InVybCgjbGluZWFyR3JhZGllbnQzODAyLTY1OCkiLz4NDQogPC9nPg0NCjwvc3ZnPg0N Cg=="
  ],
  veilColor: "#000000",
  originalGridColor: "#222222",
  originalBackgroundColor: "#000000",
  originalHeadColor: "#666666",
  originalBodyColor: "#3A3A3A",
  originalCellColor: "#000000",
  gridColors: [     // Sorted by importance
    ["#2E2E2E", "#0B0B0B"], // Grey
    ["#1F470B", "#396A1D"], // Green
    ["#504900", "#7B7616"], // Gold
    ["#570D00", "#841700"], // Red
    ["#003466", "#324C61"], // Blue
    ["#632FAA", "#41126C"], // Violet
    ["#502300", "#804200"], // Orange
    ["#5C5C46", "#333324"]  // Achievements - Black'n'white
  ],
  textColors: [
    ["#0A3700","#777777","#777777","#222222"], // Green
    ["#414100","#8E9090","#777777","#222222"], // Gold
    ["#A44C4C","#8E9090","#B50000","#222222"], // Red
    ["#A471DA","#AEAEAE","#777777","#222222"], // Violet
    ["#2B4257","#8E9090","#777777","#40698B"], // Blue
    ["#C78464","#8E9090","#FF9C42","#222222"], // Orange
    ["#0E0E0E","#77775E","#77775E","#222222"]  // Black&white
  ],
  speedColors: [
    ["#4F7548","#31851C"],  // Green
    ["#637A90","#B3B3B3"],  // Blue
    ["#A44C4C","#AE6D00"]   // Red
  ],
  scoreColors: [
    ["#6C6C6C","#222222"],  // Grey
    ["#4F7548","#31851C"],  // Green
    ["#949450","#494A28"],  // Gold
    ["#A44C4C","#AE6D00"],  // Red
    ["#8869C3","#713F7B"],  // Violet
    ["#C78464","#FF9C42"],  // Orange
    ["#BCBC8C","#303100"]   // Black&white
  ],
  sTextColors: [
    ["#8C8C8C","#222222"],  // White
    ["#3A7000","#222222"],  // Green
    ["#9E1DB6","#222222"],  // Violet
    ["#C78464","#FF9C42"],  // Orange
    ["#637A90","#515F8C"],  // Blue
    ["#6C6C6C","#222222"]   // Twiddle - Light grey
  ],
  foodColors: [
    "#944B00", // legendaryFood
    "#812FD2", // superFood
    "#3A7000", // bonusFood
    "#555555"  // regularFood
  ]
});